BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
BreakTemplateDeclarations: Yes
NamespaceIndentation: All
AccessModifierOffset: -4
AlignAfterOpenBracket: true
BreakAfterOpenBracketBracedList: true
BreakAfterOpenBracketFunction: true
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

ColumnLimit: 0
PointerAlignment: Left
DerivePointerAlignment: false
FixNamespaceComments: false

SortIncludes: CaseSensitive
IncludeBlocks: Preserve
